@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --kuning: #FEF400;
    --abu-abu: #C1C1C1;
    --hitam: #221A1A;
    --merah: #D4271E;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------- */
.head1{
    background-color: rgba(80, 138, 168, 0.8);
    padding: 5px 15%;
    display: flex;
    justify-content: space-evenly;
}

.head1 a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.head1 i{
    padding-right: 10px;
    color: rgb(3, 25, 39);
}

/* ------------------------------------------------------ */
.head2{
    height: 90px;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head2 .title-logo{
    display: flex;
    align-items: center;
}

.title-logo .logo{
    height: 75px;
    padding-right: 25px;
}

.title-logo .title a{
    text-decoration: none;
    color: #031927;
    font-size: 28px;
}

.title-logo .description{
    font-size: 14px;
}

.head2 .container{
    width: 20%;
}

.container .search-box{
    width: 100%;
    position: relative;
    display: flex;
}

.container .search{
    width: 100%;
    border: 3px solid #508aa8;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #031927;
}

.container .search:focus{
    color: #000;
    box-shadow: 0 0 5px #508aa8;
}

.container .search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid #508aa8;
    background: #508aa8;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* ------------------------------------------------ */
.nav{
    background: red;
    padding: 0 15%;
    background: #508aa8;
    text-align: center;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.nav ul li{
    width: 150px;
    margin: 5px;
    padding: 5px;
}

.nav ul li a{
    color: white;
    text-decoration: none;
}

.active, .nav ul li:hover{
    background: #9dd1f1;
    border-radius: 3px;
}

.sub-menu-1{
    display: none;
}

.nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #508aa8;
    margin-top: 10px;
    margin-left: -10px;
}

.nav ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 20px 0;
}






