@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --kuning: #FEF400;
    --abu-abu: #C1C1C1;
    --hitam: #221A1A;
    --merah: #D4271E;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------- */
.head1{
    background-color: rgba(80, 138, 168, 0.8);
    padding: 5px 15%;
    display: flex;
    justify-content: space-evenly;
}

.head1 a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.head1 i{
    padding: 0 10px;
    color: rgb(3, 25, 39);
}

/* ------------------------------------------------------ */
.head2{
    height: 90px;
    padding: 0 15%;
    display: flex;
    align-items: center;
    background: red;
}

.head2 .logo{
    height: 75px;
    padding-right: 25px;
}

.head2 .title a{
    text-decoration: none;
    color: #031927;
    font-size: 28px;
}

.head2 .description{
    font-size: 14px;
}





